/*
Colors used:
Background Color (Warm Light Grey): #fefefe;
Accent Color 1 (Magenta Pink): #DD187F;
Accent Color 2 (Bondi Blue): #0690A9
Body Copy Color (Crystal Teal): #006883
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #fefefe;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4em;
  letter-spacing: 0.08em;
  color: #006883;
}

header {
text-align: center;
padding: 10px 0 0 0;
background-color: #fefefe;
width: 100%;
position: absolute;
}

main {
  padding-top: 190px;
}

footer {
  background-color: #fefefe;
  text-align: center;
  font-size: 0.8125em;
  font-weight: 300;
  font-family: 'Nunito', sans-serif;
  margin-top: 30px;
}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
  color: #DD187F;
  line-height: 1.4em;
  letter-spacing: 0.08em;
}
h1 {
  font-size:1.56em;
  font-weight: 300;
}

h2 {
  font-size: 1.25em;
  font-weight: 600;
  color: #0690A9;
}

h3{
  font-size: 1.14em;
  font-weight: 800;
}

h4 {
font-size: 1em;
font-weight: 600;
}

span {
  font-weight: 800;
}

img{
  width: 100%;
}

.image img{
  border-radius: 5px;
}

.picture img {
  border-radius: 5px;
}

a.image img {
  border: 2px solid #fefefe;
}

a.image:hover img {
  border: 2px solid #DD187F;
  opacity: 0.7;
}

a.image:active img{
  border: 2px solid #DD187F;
}

a {
  color: #0690A9;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

a:visited {
  color: #0690A9;
}

a:hover,
a:focus {
  opacity: 0.7;
  color: #DD187F;
}

a:active{
  color: #DD187F;
}

picture {
  display: block;
  line-height: 0;
}

nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 2px;
  font-weight: 600;
  font-size: 1.125em;
  line-height: 1.3em;
  margin: 0 8px;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-s-10 {
  width: 83%;
}

.social > ul {
  list-style-type: none;
  padding: 0;
}

.social > ul > li {
  display: inline-block;
}

.social > ul > li > a{
  padding: 0 1.3em;
}

.logo {
  max-width: 120px;
}

.icon {
  max-width: 35px;
}

.active {
  border-bottom: 1px solid #DD187F;
}

.list > ul {
  list-style-type: circle;
}

.button1 {
  display: inline-block;
  background-color: #fefefe;
  font-weight: 700;
  letter-spacing: 1.16px;
  padding: 12px 8px;
  border-radius: 2px;
  border: 2px solid #DD187F;
}

.button1:hover,
.button1:focus {
  opacity: 0.7;
  background-color: #DD187F;
  color: #fefefe;
}

.button1:active {
  opacity: 1;
  background-color: #DD187F;
  color: #fefefe;
}

.button-networks{
  max-width: 233px;
  white-space: normal;
}

.button-behance {
  max-width: 214px;
  white-space: normal;
}

.button-invision {
  max-width: 230px;
  white-space: normal;
}

.button2 {
  display: inline-block;
  background-color: #fefefe;
  border: none;
  font-weight: 700;
  letter-spacing: 1.16px;
  padding: 12px 0px;
}

.button2:hover,
.button2:focus {
  opacity: 0.7;
  background-color: #fefefe;
  color: #DD187F;
}

.button2:active {
   opacity: 1;
   background-color: #fefefe;
   color: #DD187F;
}

[class*="left col-"] {
  float: left;
}

[class*="right col-"] {
  float: right;
}

.col-lg-6-right,
.col-lg-6-left {
  margin-bottom: 2em;
}

.col-lg-6-right > p, h2 {
  margin: .5em 0 0 0;
}

.col-lg-6-left > p, h2 {
  margin: .5em 0 0 0;
}

#hero {
  display: inline-block;
  width: 100%;
  padding: 0 0 10px 0;
  text-align: center;
}

#subtitle {
  background-color: #fefefe;
  font-family: 'Nunito', sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 2.02px;
  color: #006883;
}

#contact h2 {
  font-family: 'Raleway', sans-serif;
  color: #DD187F;
  line-height: 1.2;
  letter-spacing: 2.5px;
  font-size: 1.27em;
  font-weight: 800;
}

#contact a {
  font-size: 1em;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}

.photoV {
  max-width: 233px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.aboutlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#about h4 {
  margin-bottom: 0;
}

#buttondeco {
  width: 50px;
}


@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0, 50px);}
  to {transform: translate(200px, 50px);}
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px, 48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}


@media only screen and (min-width: 640px) {

  header {
    position: fixed;
    z-index: 10;
  }

  main {
    padding-top: 227px;
  }

  footer {
    margin-top: 50px;
  }

  nav > ul > li > a {
    margin: 0 50px;
  }

  .picture img{
    border-radius: 7px;
  }

  .image img{
    border-radius: 7px;
  }

  .logo {
    max-width: 172px;
  }

  .overlap {
    margin-top: -100px;
  }

  .container {
    padding: 0 30px;
  }

  .col-md-7 {
    width: 58%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.7%;
  }

  [class*="left col-"] {
    padding-right: 15px;
  }

  [class*="right col-"] {
    padding-left: 15px;
  }

  .button-networks {
    max-width: 150px;
    white-space: normal;
  }

  .button-behance{
    white-space: normal;
    max-width: 240px;
  }

  .button-invision {
    white-space: normal;
    max-width: 240px;
  }

  .photoV {
    max-width: 60%;
  }

}

@media only screen and (min-width: 1024px) {

  body {
    font-size: 22px;
  }

  header {
    text-align: unset;
  }

  footer {
    margin-top: 90px;
  }

  nav {
    width: auto;
    float: right;
    padding-top: 100px;
  }

  nav > ul > li > a {
    padding: 0 2px;
    font-weight: 600;
    font-size: 1em;
    line-height: 1.3em;
    margin: 0 0 0 120px;
  }

  h1 {
    max-width: 65%;
  }

  .picture img{
    border-radius: 10px;
  }

  .image img{
    border-radius: 10px;
  }

  .logo {
    max-width: 172px;
  }

  .col-lg-6-left {
    width: 50%;
    float: left;
    padding-right: 15px;
  }

  .col-lg-6-right {
    width: 50%;
    float: right;
    padding-left: 15px;
  }

  .col-lg-5{
    width: 41.7%;
  }

  .button-behance{
    white-space: normal;
    max-width: 300px;
  }

  .button-invision {
    white-space: normal;
    max-width: 316px;
  }

.photoV {
    float: left;
    padding-right: 30px
  }

  #hero {
    text-align: left;
  }

}

@media only screen and (min-width: 1440px) {

  body {
    font-size: 28px;
  }

  nav {
    width: auto;
    float: right;
    padding-top: 80px;
  }

  .container {
    max-width: 1300px;
    margin-left:auto;
    margin-right: auto;
  }

  .overlap {
    margin-top: -100px;
  }

  .button-behance{
    white-space: normal;
    max-width: 640px;
  }

  .button-invision {
    white-space: normal;
    max-width: 640px;
    float:right;
  }

}
