/*
Colors used:
Background Color (Warm Light Grey): #fefefe;
Accent Color 1 (Magenta Pink): #DD187F;
Accent Color 2 (Bondi Blue): #0690A9
Body Copy Color (Crystal Teal): #006883
*/

body{
  background-color: #fefefe;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 2.02px;
  color: #006883;
}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
  color: #DD187F;
  line-height: 1.2;
  letter-spacing: 2.5px;
}
h1 {
  font-size:1.25em;
  font-weight: 300;
}

h2 {
  font-size: 1.14em;
  font-weight: 800;
}

h3 {
font-size: 1em;
font-weight: 600;
}

h4 {
font-size: 0.89em;
font-weight: 600;
}

h5 {
  font-size: 0.71em;
  font-weight: 300;
  letter-spacing: 1.5px;
  color: #006883;
}

img{
  width: 100%;
}

.container {
  padding: 0 15px;
}

.active {
  border-bottom: 1px solid #DD187F;
}

nav a {
  text-decoration: none;
}
